﻿@model TesisAlarmas.horario_personalizado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>horario_personalizado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraEntradaManana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntradaManana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalidaManana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalidaManana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntradaTarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntradaTarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalidaTarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalidaTarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apoderado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apoderado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario.DiaDeSemana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.DiaDeSemana)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
