﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

        @if (Convert.ToString(Session["Rol"]) == "Administrador")
            {
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Menu", "Index", "Home", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Crear<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Crear Alummos", "Create", "Alumno")</li>
                                        <li>@Html.ActionLink("Crear Apoderados", "Create", "apoderados")</li>
                                        <li>@Html.ActionLink("Crear Curso", "Create", "Curso")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Listar<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Listar Elementos", "ListarElementos", "Usuario")</li>
                                        <li>@Html.ActionLink("Listar Marcaciones", "ListarMarcaciones", "Alumno")</li>
                                    </ul>
                                </li>
                                <li><a>Editar</a></li>
                                <li><a>Ver Ubicación</a></li>
                                <li><a href="~/Alumno/AsignarCurso">Asignar Curso</a></li>
                            </ul>
                            @if (!Session.IsNewSession)
                            {
                                <div style="float:right; margin-top: 15px;"><a href="~/Usuario/Logout" style="color: #FFFFFF">Cerrar sesión</a></div>
                                <div></div>
                                <div style="text-align:center; margin-top: 15px;"><p style="color: #FFFFFF">Usuario actual: @Session["UsuarioNombre"]</p></div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (Convert.ToString(Session["Rol"]) == "Apoderado")
            {
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Menú", "Menu", "apoderados", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a>Ver Ubicación</a></li>
                                <li><a>Editar</a></li>
                                <li><a>Listar Marcaciones</a></li>
                                <li><a>Configurar Horario</a></li>
                                <li><a>Alarmas Recibidas</a></li>
                            </ul>
                            @if (!Session.IsNewSession)
                            {
                                <div style="float:right; margin-top: 15px;"><a href="~/Usuario/Logout" style="color: #FFFFFF">Cerrar sesión</a></div>
                                <div></div>
                                <div style="text-align:center; margin-top: 15px;"><p style="color: #FFFFFF">Usuario actual: @Session["UsuarioNombre"]</p></div>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
                </footer>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
