﻿@model TesisAlarmas.curso

@{
    ViewBag.Title = "Create";
    string Educacion = ViewBag.Educacion;
}
<br />
<br />
<br />
@section scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Curso/Educaciones/List", function (data) {
                var items = "<option></option>";
                $.each(data, function (i, educacion) {
                    items += "<option value='" + educacion.Value + "'>" + educacion.Text + "</option>";
                });
                $("#Educacion").html(items);
            });

            $("#Educacion").change(function () {
                $.getJSON("/Curso/Niveles/List/" + $("#Educacion > option:selected").attr("value"), function (data) {
                    var items = "<option></option>";
                    $.each(data, function (i, nivel) {
                        items += "<option value='" + nivel.Text + "'>" + nivel.Text + "</option>";
                    });
                    $("#Nivel").html(items);
                });
            });
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Curso", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>curso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(@model => Educacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Educacion" name="Educacion" class="form-control"></select>
                <div style="color:#b94a48">@ViewBag.MessageEducacion</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nivel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Nivel" name="Nivel" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.Nivel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Division, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Division, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div style="color:lawngreen">@ViewBag.MessageOK</div>
    <div style="color:red">@ViewBag.MessageError</div>
}

<div>
    @Html.ActionLink("Regresar al Menú", "Menu")
</div>
