﻿@model TesisAlarmas.alarma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>alarma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alumno.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alumno.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario.DiaDeSemana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.DiaDeSemana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
