﻿@{
    ViewBag.Title = "Login";
    string Usuario = ViewBag.Usuario;
    string Contrasena = ViewBag.Contrasena;
    //string Rol = ViewBag.Rol;
}
<br />
<br />
<br />
        <h2>Login</h2>

        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
        {
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => Usuario, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => Usuario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    @Html.Label("Contrasena", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => Contrasena, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <br>
            @*<div class="row">
                    <div class="form-group">
                        @Html.LabelFor(@model => Rol, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Rol" id="Rol" class="form-control">
                                <option value=""></option>
                                <option value="Administrador">Administrador</option>
                                <option value="Apoderado">Apoderado</option>
                            </select>
                            @Html.ValidationMessageFor(model => Rol)
                        </div>
                    </div>
                </div>*@
            <br>
            //@ViewBag.LabelError
            <div style="color:red">@ViewBag.MessageError</div>

            <row class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />
                <input type="reset" value="Restablecer" class="btn btn-default" />
            </row>
            <br />
            <div>
                <p>
                    @Html.ActionLink("¿Olvido su contraseña?", "Recuperar")
                </p>
            </div>
        }
