﻿
@{
    ViewBag.Title = "Menu";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @if (!Session.IsNewSession)
        {
            <div style="float:right; margin-top: 15px;"><a href="~/Usuario/Logout" style="color: #FFFFFF">Cerrar sesión</a></div>
        }
    </div>
</div>
<br />
<br />
<br />
<h2 align="center">Bienvenido @Session["UsuarioNombre"]</h2>

<table align="center">
    <tr>
        <td><a href="~/Alumno/Create">Crear alumno</a></td>
        <td><a href="~/apoderados/Create">Crear apoderado</a></td>
        <td><a href="~/Curso/Create">Crear curso</a></td>
    </tr>
    <tr>
        <td><a href="~/">Editar</a></td>
        <td><a href="~/">Listar elementos</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="~/">Ver ubicación alumno</a></td>
        <td><a href="~/Alumno/AsignarCurso">Asignar alumno a curso</a></td>
        <td><a href="~/">Listar marcaciones</a></td>
    </tr>
</table>

