﻿
@{
    ViewBag.Title = "Recuperacion";
    string Correo = ViewBag.Correo;
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="~/Usuario/Login" style="color: #FFFFFF" class="navbar-brand">Login</a>
        </div>
    </div>
</div>
<br />
<br />
<br />
<h3>Correo</h3>

@using (Html.BeginForm("Recuperar", "Usuario", FormMethod.Post))
{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => Correo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Correo)
            </div>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Enviar" class="btn btn-default" />
    </div>
}
