﻿@model TesisAlarmas.alumno

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apoderado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apoderado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curso.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RUT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
