﻿@model IEnumerable<TesisAlarmas.alumno>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apoderado.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curso.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ubicacion.ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apoderado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curso.Nivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ubicacion.ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RUT }) |
            @Html.ActionLink("Details", "Details", new { id=item.RUT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RUT })
        </td>
    </tr>
}

</table>
