﻿
@{
    ViewBag.Title = "Menu";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @if (!Session.IsNewSession)
        {
            <div style="float:right; margin-top: 15px;"><a href="~/Usuario/Logout" style="color: #FFFFFF">Cerrar sesión</a></div>
        }
    </div>
</div>
<br />
<br />
<br />
        <h2 align="center">Bienvenido Señor/a @Session["UsuarioNombre"] @Session["UsuarioApellido"]</h2>

        <table align="center">
            <tr>
                <td>Ver ubicación alumno</td>
                <td>Editar</td>
                <td>Listar marcaciones</td>
            </tr>
            <tr>
                <td>Configurar horario alarma</td>
                <td>Alarmas recibidas</td>
                <td></td>
            </tr>
        </table>

